@model List<MVCData.Models.SanPham>
@if (!Model.Any())
{
    <tr>
        <td colspan="8" class="text-center text-danger">
            Không tìm thấy dữ liệu
        </td>
    </tr>
}
else
{
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductCode</td>
            <td>@item.ProductName</td>
            <td>
                <img src="/image/@item.ImageUrl" width="70" height="70" class="img-responsive" />
            </td>
            <td>@item.Brand</td>
            <td class="text-danger fw-bold">
                @item.Price.ToString("N0") ₫
            </td>
            <td>@item.Quantity</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td>
                <button class="btn btn-warning btn-sm" onclick="openEditModal('@item.ProductID')">✏️</button>
                <button class="btn btn-danger btn-sm" onclick="confirmDelete('@item.ProductID')">🗑️</button>
            </td>
        </tr>
    }

}